.movie-details {
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  img {
    height: 540px;
  }
  &--text {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    width: 80%;
    .title {
      font-size: 24px;
    }
  }
}
